{% extends "index_base.html" %}

{% block pagetitle %}
{{ escape(prefs.get("site_name","")) }} . {{ escape(prefs.get("site_info","")) }}
{% end %}

{% block pageheader %}
<p><strong>{{ escape(prefs.get("site_name","")) }} </strong><small>{{ escape(prefs.get("site_info","")) }} </small></p>
{% end %}

{% block pagenavbar %}
    {% for post in models %}
    <li><a href="/allroms/{{ escape(post['m_device']) }}" >{{ escape(post['m_modname']) }}</a></li>
    {% end %}  
{% end %}

{% block pagesidebar %} 
  <table class="table" >
        <tbody>
          {% for post in models %}
            <tr>
                <td><img class="img-rounded" height=20px src="{{ escape(post['m_modpicture']) }}"/></td>
                <td><a name="devices" href="/allroms/{{ escape(post['m_device']) }}" >{{ escape(post['m_modname']) }}</a></td>
            </tr>
          {% end %}  
        </tbody>
  </table>

{% end %}


{% block pagebody %}
  <div><h2 class="page-header"><img class="img-rounded" height=48px width=48px src="{{ escape(roms['m_modpicture']) }}" alt="..."> {{ escape(roms['m_modname']) }}</h2>
    <p>{{ escape(roms['m_moddescription']) }}</p>
    <p><small> {{ escape(strtime(roms['m_time'])) }}</small></p>
  </div>
            
  <table id="movie-table" class="table table-striped" style="word-break:break-all; word-wrap:break-all;">
    <thead>
    <tr>
      <th> 版本</th>
      <th> 下载地址</th>
      <th> 变更日志</th>
      <th> md5</th>
      <th> 通道</th>
      <th> 发布时间 </th>
      </tr>
    </thead>
    <tbody>
    {% for det in roms['m_detail'] %}
      <tr>
      <td>{{ escape(det['version']) }}</td>
      <td><a href ="{{ escape(det['url']) }}">{{ escape(det['filename']) }} ( {{ escape(det['size']) }} )</a></td>
      <td>{{ escape(det['changelog']) }}</td>
      <td>{{ escape(det['md5sum']) }}</td>
      <td>{{ escape(getStatuStr(det['channels'])) }}</td>
      <td>{{ escape(strtime(det['issuetime'])) }}</td>
      </tr>
    {% end %}   
    </tbody>
  </table>
{% end %}

{% block pagefriendlinks %}
{% raw prefs.get("site_outlink","") %}
{% end %}