<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <title>{% block pagetitle %}{% end %}</title>
    {% block metadata %}{% end %}
    <link rel="icon" type="image/png" href="/static/favicon.ico">
     <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>    

<!-- Home -->
<div class="d-block d-md-none ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="nav navbar-nav">
            {% block pagenavbar %}{% end %}
        </ul>
        </div>
  </nav>
</div>

<div class="container" data-ajax="false">
    <div class="page-header d-none d-md-block"> 
    <a class="btn " href="/">{% block pageheader %} {% end %}</a>
    </div>
  <div class="row">  
    
    <div class="col-xs-12 col-md-3">
        <div class="column d-none d-md-block"> 
        {% block pagesidebar %}{% end %}
        <br>
        {% block pagefriendlinks %}{% end %}
        </div>
    </div>
    
    <div class ="col-xs-12 col-md-9">
    {% block pagebody %}{% end %}
    <br>
    {% block pagerelatedposts %}{% end %}
    </div>
    
  </div>
  <br>

</div>

<footer id="footer">
    <div class="container">
        <div class="text-center">
          <a href="#about">We are devoted to privacy and security.</a>
        </div>
        <br>
    </div>
</footer>

<script src="/static/jquery/jquery.slim.min.js"></script>
<script src="/static/jquery/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>