<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <title>管理员登陆</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>    

<!-- Home -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class ="nav-item "><a href="/" target="_blank" class="nav-link" >网站首页</a></li>
                <li class ="nav-item active"><a href="{{ escape(loginpoint) }}" class="nav-link" >登陆</a></li>
            </ul> <!-- /navbar -->
        </div>
    </nav>
</div>

    <div class="row mt-3">
      <div class="col-0 col-sm-0 col-md-0 col-lg-3 col-xl-3"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <div class="card ">
        <div class="card-header">用户登录</div>
        <div class="card-body">
            <div class="card-title">Login</div>
            <form action="{{ escape(loginpoint) }}" method="post"   role="form">
                <div class="form-group">
                    <label for="uname" class="sr-only">
                        username
                    </label>
                    <input class="form-control" name="uname" id="uname" placeholder="管理员用户名" value="" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pword" class="sr-only">
                        password
                    </label>
                    <input class="form-control" name="pword" id="pword" placeholder="管理员密码" value="" type="password" class="form-control">
                </div>
                {% module xsrf_form_html() %}
                
                <input class="btn btn-primary btn-block" value="登陆" type="submit">
                <div class="btn btn-link" >没有帐号？请联系管理员添加帐号</div>
            </form>  
        </div>
      </div>
    </div>
    </div>
    
    <script src="/static/jquery/jquery.slim.min.js"></script>
    <script src="/static/jquery/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
