{% extends "publish_base.html" %}

{% block body %}

<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading"><strong>{{ escape(ptitle) }}</strong> 添加一个新的应用</div>
    <div class="panel-body">
      <form action="?a=add" method="post" class="form" role="form"  enctype="multipart/form-data">
          <div class="form-group">
            <label for="mdevice">应用ID(应用的唯一标识，不可重复，只能写英文或数字或 下划线_ 横- 点.) </label>
            <input type="text" name="mdevice" id="mdevice" class="form-control" placeholder="如bacon mixun mihua_win_32" {% if (pupdate!=None) %} value="{{ escape(pupdate['m_device']) }}"  {% else %} value=""  {% end %}/>
          </div>
          <div class="form-group">
            <label for="mname">代号或者名称(如何在页面上显示) </label>
            <input type="text" name="mname" id="mname" class="form-control" placeholder="如密流，或者几米手机 JIMEE" {% if (pupdate!=None) %} value="{{ escape(pupdate['m_modname']) }}" {% else %} value="" {% end %}/>
          </div>
          <div class="form-group">
            <label for="mdescription">产品简介</label>
            <textarea type="text" name="mdescription" id="mdescription" rows=3 class="form-control" placeholder="用一段文字描述这个产品">{% if (pupdate!=None) %} {{ escape(pupdate['m_moddescription']) }} {% end %}</textarea>
          </div>
          <div class="form-group">
            <label for="mpicture">上传应用图标</label>
            <input type="file" name="mpicture" id="mpicture"></input>
          </div>

          <div class="form-group">
            <label for="m_pub_ipv4">发布版对外可见（默认对外不可见）:  </label><br>
            <div class="radio-inline">
              <label><input type="checkbox" name="m_pub_ipv4" id="m_pub_ipv4" value="1" {% if (pupdate!=None) and (pupdate.get('m_pub_ipv4','0')=='1') %} checked="true" {% end %}/> 对外可见 </label>
            </div>
          </div>

          {% module xsrf_form_html() %}
        <input  class="btn btn-primary" type="submit" value="完成"/>
        </form>
      </div>
</div>
</div>
{% end %}
