{% extends "publish_base.html" %}

{% block body %}
<div class="container">
<div class ="col-sm-12 col-xs-12 col-md-12">
    <div class="card">
    <div class="card-header"><strong> {{ escape(ptitle) }} <strong></div>
    <div class="card-body">
        <table id="movie-table" class="table table-striped" style="word-break:break-all; word-wrap:break-all;">
            <thead>
                <tr>
                <th>设备特征</th>
                <th>反馈内容</th>
                <th>时间</th>
                <th><a href="?a=del" class="btn btn-link">删除所有</a></th>
                </tr>
            </thead>
            <tbody>
            {% for post in ureports %}
                <tr>
                <td>{{ escape(post['fingerprint']) }}</td>
                <td>{{ escape(post['mcontent']) }}</td>
                <td>{{ escape(strtime(post['mtime'])) }}</td>
                <td></td>
                </tr>
            {% end %}
            
            </tbody>
        </table>
    </div>
    </div>
    <nav>
      <ul class="pagination">
        {% for pg in range(pages) %}
        <li><a href="?p={{ pg }}">{{ pg }}</a></li>
        {% end %}
        
      </ul>
    </nav>
    
</div>

</div>
{% end %}
